@charset "iso-8859-1";

/* ================================================================ */
/* ----------------------------- && ----------------------------- */
/* ------------------------>>> GENERAL <<<------------------------- */
/* ----------------------------- && ----------------------------- */
/* ================================================================ */

body { font-size: 62.5%em; line-height: 1; }

* {
	font-style: normal;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, strong {
	font-style: normal;
	font-weight: normal;
}

a {
	-webkit-transition: color 0.2s ease-in-out;
	  -moz-transition: color 0.2s ease-in-out;
	  -ms-transition: color 0.2s ease-in-out;
	   -o-transition: color 0.2s ease-in-out;
	    transition: color 0.2s ease-in-out;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fuentes/opensans-regular-webfont.eot');
  src: url('../fuentes/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/opensans-regular-webfont.woff2') format('woff2'),
     url('../fuentes/opensans-regular-webfont.woff') format('woff'),
     url('../fuentes/opensans-regular-webfont.ttf') format('truetype'),
     url('../fuentes/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fuentes/opensans-semibold-webfont.eot');
  src: url('../fuentes/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/opensans-semibold-webfont.woff2') format('woff2'),
     url('../fuentes/opensans-semibold-webfont.woff') format('woff'),
     url('../fuentes/opensans-semibold-webfont.ttf') format('truetype'),
     url('../fuentes/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fuentes/opensans-bold-webfont.eot');
  src: url('../fuentes/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/opensans-bold-webfont.woff2') format('woff2'),
     url('../fuentes/opensans-bold-webfont.woff') format('woff'),
     url('../fuentes/opensans-bold-webfont.ttf') format('truetype'),
     url('../fuentes/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('../fuentes/opensans-italic-webfont.eot');
  src: url('../fuentes/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/opensans-italic-webfont.woff2') format('woff2'),
     url('../fuentes/opensans-italic-webfont.woff') format('woff'),
     url('../fuentes/opensans-italic-webfont.ttf') format('truetype'),
     url('../fuentes/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fuentes/oswald-regular-webfont.eot');
  src: url('../fuentes/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fuentes/oswald-regular-webfont.woff2') format('woff2'),
     url('../fuentes/oswald-regular-webfont.woff') format('woff'),
     url('../fuentes/oswald-regular-webfont.ttf') format('truetype'),
     url('../fuentes/oswald-regular-webfont.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


h1, h2, h3, h4, h5, h6 { font-family: 'Oswald-Regular', Arial, Helvetica, sans-serif; }
p, ul         { font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif; }
a           { font-family: 'OpenSans-Semibold', Arial, Helvetica, sans-serif; }
time          { font-family: 'RobotoSlab-Regular', Arial, Helvetica, sans-serif; }

/* ================================================================ */
/* ----------------------------- && ----------------------------- */
/* ------------------------>>> BLOQUES <<<------------------------- */
/* ----------------------------- && ----------------------------- */
/* ================================================================ */

/* ================================================================ */
/* ---------------------->>> PERMANENTES <<<----------------------- */
/* ================================================================ */

/* -- CABECERA ---------------------------------------------------- */
/* ================================================================ */

/* -- Menu Perfiles ----------------------------------------------- */
/* ---------------------------------------------------------------- */

#nav-perfiles ul li a {
	color: #666;
	font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.8rem;
}

#perfiles-rsp h5   { color: #FFF; font-size: 2rem; line-height: 40px; text-align: center; }
#perfiles-rsp ul li a { color: #FFF; font-size: 1.2rem; line-height: 40px; }

/* -- Buscador ---------------------------------------------------- */
/* ---------------------------------------------------------------- */

#form-buscador #buscar:hover { color: #FFF; } 
#form-buscador #s,
#form-buscador-rsp #s    { font-family: 'OpenSans-Regular', arial, helvetica; font-size: 1.2rem; }
#form-buscador #buscar,
#form-buscador-rsp #buscar  { font-family: 'OpenSans-Bold', arial, helvetica; font-size: 1.4rem; }
#form-buscador #s,
#form-buscador #buscar    { color: #666; }
#form-buscador-rsp #s    { color: #FFF; }
#form-buscador-rsp #buscar  { color: #FFF; }

/* -- MENU PRINCIPAL ---------------------------------------------- */
/* ================================================================ */

#menu-escritorio li a,
#menu-escritorio li ul li a,
li.nivel-01 a.nodesplegable,
#nav-rsp ul li ul li a      { font-size: 1.2rem; }
#menu-escritorio li a       { line-height: 60px; }
#menu-escritorio li ul li a    { line-height: 130%; }
li.nivel-01 a.nodesplegable,
#nav-rsp ul li ul li a      { line-height: 16px; }
#menu-escritorio li a,
#menu-escritorio li ul li a,
li.nivel-01 a.nodesplegable    { color: #FFF; }
#nav-rsp ul li ul li a      { color: #666; }
#menu-escritorio li:hover ul li a:hover,
#menu-escritorio li:hover a:hover { color: #FFF; }
#menu-escritorio li:hover a    { color: #666; }

/* -- REDES Y PIE DE PAGINA --------------------------------------- */
/* ================================================================ */

nav.menu-redes ul li h2    { font-size: 1.4rem; line-height: 36px; }
.cabecera-nav-pie-pagina h3  { font-size: 1.4rem; line-height: 1.8; }
nav.menu-redes ul li h2    { color: #E6E6E6; }
.cabecera-nav-pie-pagina h3  { color: #E6E6E6; }
div#menu-pie-pagina ul    { font-size: 0; }
.nav-pie-pagina ul li a    { color: #666; font-size: 1.4rem; line-height: 140%; }
.meta-autor          { color: #666; font-size: 1.4rem; line-height: 150%; }
.meta-autor .cp        { font-size: 1.2rem; line-height: 130%; }
.meta-autor a         { color: #E6E6E6; }
#form-intranet .campo #usuario,
#form-intranet .campo #clave { color: #666; font-family: 'OpenSans-Regular', arial, helvetica; font-size: 1.4rem; }
#entrar            { color: #666; font-family: 'OpenSans-Semibold', arial, helvetica; font-size: 1.4rem; }
.gob-pie-rsp         { text-align: center; }

/* ================================================================ */
/* ------------------------->>> PORTAL <<<------------------------- */
/* ================================================================ */

/* -- NAVEGACION SECCIONES ---------------------------------------- */
/* ================================================================ */

.cabecera-secciones-home h2 { font-size: 2.8rem; line-height: 4rem; }

/* ================================================================ */
/* -----------------------------  &&  ----------------------------- */
/* --------------------->>> MEDIA QUERIES <<<---------------------- */
/* -----------------------------  &&  ----------------------------- */
/* ================================================================ */

/* ================================================================ */
/* ----------------------->>> 959 > < 768 <<<---------------------- */
/* ================================================================ */

@media only screen and (max-width: 959px) {

	/* -- Reduccion tipografica ----------------- */

	.cabecera-secciones-home h2,
	.cabecera-seccion-atajos h2 { font-size: 2.4rem; line-height: 4rem; }
	.noticia header h1,
	#video-destacado article header h1,
	#video-secundario article header h1,
	#accesos .otros-accesos ul li,
	.nav-pie-pagina ul li a,
	#form-intranet .campo #usuario,
	#form-intranet .campo #clave,
	.meta-autor,
	.nav-fac ul li article h1,
	.facultad-3 section ul li,
	.facultad-2 section ul li            { font-size: 1.3rem !important; }
	.otros-accesos h3                    { font-size: 1.6rem; }
	.av-pres-fac ul li article header h1 { font-size: 1.4rem; }
	.facultad-2 section h2,
	.facultad-3 section h2               { font-size: 1.6rem; }

	/* -- Redes y Pie de Pagina ----------------- */

	#redes .contenedor-redes, .meta-autor { text-align: center !important; }

}

/* ================================================================ */
/* ---------------------->>> 480 > < 300 <<<----------------------- */
/* ================================================================ */

@media only screen and (max-width: 480px) {

	/* -- Pie ----------------------------------- */

	.acreditacion-rsp { text-align: center; }

}

