@charset "iso-8859-1";

/* ================================================================ */
/* -----------------------------  &&  ----------------------------- */
/* -------------------------->>> HOME <<<-------------------------- */
/* -----------------------------  &&  ----------------------------- */
/* ================================================================ */

body.clr-cor {}

/* ================================================================ */
/* ------------------------>>> IMAGENES <<<------------------------ */
/* ================================================================ */

.clr-cor #cabecera #utem-logo a                      { background: url(../images/01_img_cor/00_id_corp/imagotipo_utem.png) no-repeat left top; }
.clr-cor #top-acordeon-rsp #utem-logo-rsp a          { background: url(../images/01_img_cor/00_id_corp/imagotipo_utem_767.png) no-repeat left top; }
.clr-cor .bg-menursp                                 { background: url(../images/01_img_cor/bg_body_cor.png) repeat-x left top; }
.clr-cor .cabecera-secciones-home h2                 { background: url(../images/01_img_cor/borde_inferior_cabecera_cor.png) left bottom no-repeat; }
.clr-cor #atajos-portal ul li article a:hover header { background: url(../images/01_img_cor/flecha_atajos_cor.png) no-repeat center top; }

/* ================================================================ */
/* -------------------->>> COLORES PLANTILLA <<<------------------- */
/* ================================================================ */

/* -- Cabecera ---------------------------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor #cabecera { background-color: #FFF; }

/* -- Azul corporativo primario ----------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor section#menu-principal-escritorio,
.clr-cor section#menu-principal-rsp, .clr-cor header#top-acordeon-rsp { background-color: #021C36; }
.clr-cor #form-buscador-rsp #s { border-right-color: #021C36; }

/* -- Azul corporativo primario - variantes ----------------------- */
/* ---------------------------------------------------------------- */

/* -- Claros ------------------------------------------------------ */
.clr-cor div#perfiles-rsp,
.clr-cor #perfiles-rsp ul,
.clr-cor #nav-rsp ul li.nivel-01,
.clr-cor div#buscador-rsp      { border-top-color: #1C334A; }
.clr-cor #perfiles-rsp ul li   { border-bottom-color: #1C334A; border-left-color: #1C334A; border-right-color: #1C334A; }
.clr-cor #perfiles-rsp ul li a:hover,
.clr-cor a.nodesplegable:hover { background-color: #1C334A; }
/* -- Oscuros ----------------------------------------------------- */
.clr-cor #nav-rsp ul li.nivel-01:last-child,
.clr-cor div#buscador-rsp { border-bottom-color: #010B16; }
.clr-cor #perfiles-rsp h5 { background-color: #02162B; border-bottom-color: #010B16; }

/* -- Celeste corporativo secundario ------------------------------ */
/* ---------------------------------------------------------------- */

.clr-cor #form-buscador-rsp #buscar,
.clr-cor #menu-escritorio li a:hover, .clr-cor button.navbar-toggle,
.clr-cor .toggle, .clr-cor #noticias .crsl-nav .izq:hover,
.clr-cor #noticias .crsl-nav .der:hover, .clr-cor .ver-mas:hover,
.clr-cor #menu-escritorio li ul li a:hover,
.clr-cor #form-buscador-rsp #s { background-color: #39C; }
.clr-cor #menu-escritorio li ul li a:hover  { border-bottom-color: #39C; }
.clr-cor #nav-perfiles ul li a:hover, .clr-cor #nav-rsp ul li ul li a:hover,
.clr-cor #menu-escritorio li:hover ul li a, .clr-cor .nav-pie-pagina ul li a:hover,
.clr-cor .meta-autor a:hover, .clr-cor .cabecera-secciones-home h2,
.clr-cor .crsl-item .noticia a:hover header h1, .clr-cor .noticia header time,
.clr-cor #video-secundario article a:hover header h1, .clr-cor .otros-accesos h3,
.clr-cor .otros-accesos ul li a:hover { color: #39C; }

/* -- Celeste corporativo secundario - variantes ------------------ */
/* ---------------------------------------------------------------- */

/* -- Claros ------------------------------------------------------ */
.clr-cor #form-buscador-rsp #s:focus, .clr-cor #form-buscador-rsp #buscar:hover,
.clr-cor .navbar-toggle:hover, .clr-cor .navbar-toggle:focus,
.clr-cor .toggle:hover, .clr-cor .toggle:focus { background-color: #42B8DB; }
/* -- Oscuros ----------------------------------------------------- */
.clr-cor #form-buscador-rsp #buscar:active { background-color: #2E8FC7; }

/* ================================================================ */
/* ---------------------->>> COLORES APOYO <<<--------------------- */
/* ================================================================ */

/* -- Gris azulado Gobierno Chile --------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor #menu-escritorio li ul li a, .clr-cor .cabecera-secciones-home, .clr-cor main,
.clr-cor #av, .clr-cor .menu-portal-3, .clr-cor .facultad, .clr-cor .menu-portal-2,
.clr-cor .otros-accesos h3 { border-bottom-color: #BDC9D1; }
.clr-cor #noticias .crsl-nav .izq, .clr-cor #noticias .crsl-nav .der,
.clr-cor .ver-mas { background-color: #BDC9D1; }

/* -- Buscador Escritorio ----------------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor #form-buscador #buscar:hover  { background-color: #39C; }  /* fondo celeste complementario corporativo */
.clr-cor #form-buscador #buscar:active { background-color: #2E8FC7; } /* fondo azul corporativo */

/* -- Menu principal ---------------------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor #menu-escritorio li a { border-right-color: #235485; }

/* -- Anaranjado -------------------------------------------------- */
/* ---------------------------------------------------------------- */

.clr-cor #video-destacado article a:hover header h1 { color: #021C36; }
.clr-cor #atajos-portal ul li header h1 { color: #635A5D; }

/* ================================================================ */
/* -----------------------------  &&  ----------------------------- */
/* ----------------------->>> RESPONSIVO <<<----------------------- */
/* -----------------------------  &&  ----------------------------- */
/* ================================================================ */

@media only screen and (max-width: 959px) {

	/* == Home ================================== */
	/* ========================================== */
	.clr-cor #cabecera #utem-logo a { background: url(../images/01_img_cor/00_id_corp/imagotipo_utem_959.png) no-repeat left top; }

}

@media only screen and (max-width: 767px) {

	/* == Home ================================== */
	/* ========================================== */
	/* -- Azul corporativo - variante oscuro ---- */
	.clr-cor header#top-acordeon-rsp { border-bottom-color: #010B16; }
	/* -- Celeste corporativo secundario -------- */
	.clr-cor .infoBlock h1 a .more { color: #39C; }
	/* -- Anaranjado ---------------------------- */
	.clr-cor .infoBlock h1:hover a .more { color: #021C36; }

}

